
.page-wrap {
    width:100%;
    height:100%;
    overflow-x: auto;
    overflow-y: auto;
  }
  .page-topPart {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  .page-topPart-inputArea{
    display: inline-flex;
    text-align: left;
    padding:1rem 0rem;
  }
  .left-box {
    flex: 1;
  }
  .right-box {
    flex: 1;
  }
  .middle-box {
    flex: 1;
  }
  .input-item {
    text-align: center;
  }
  .input-box {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0rem;
  }
  .input-label {
    min-width: 9rem;
    text-align: right;
    padding-right: 1rem;
  }
  .page-content {
    padding: 1rem;
    text-align: left;
  }
  .page-title {
    font-weight: 700;
  }
  .page-dialog {
    text-align: left;
  }
  .enclosure-box {
    background-color: #fff;
  }
  .footer-btns {
    padding: 2rem 1rem;
    text-align: right;
  }
  .button{
    margin-right:2rem;
  }
  .page-device{
    padding:2rem 0rem;
  }
  .table-top-area{
    font-size: 1rem;
    padding:1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .table-top-btns{
    font-size: 1rem;
  }
  .table-top-status{
    padding:0rem 1rem;
  }
  .page-search{
    padding:1rem 0rem;
    text-align: left;
  }
  .page-search-item{
    display: inline-flex;
  }
  .status-item{
    font-size: 1rem;
    padding: 0.5rem;
  }
  .status-item-label{
    font-weight: 700;
  }
  